{% extends 'base.html.twig' %}

{% block title %}Nos différents circuits
{% endblock %}

{% block content %}
	<div class="container mt-5">
		<h1>Mon super site</h1>
		<h2 class="lead">A envoyer en FTP</h2>

		<section class="mt-5">
        <div class="row">
        {% for circuit in circuits %}
				<div class="col-md-4">
					<div class="card">
					<a href="{{ path('detail', {id:circuit.id}) }} " style="color:green;font-weight:bold;">
						<img src="{{circuit.image}}" class="card-img-top" alt="..."/></a>
						<div class="card-body">
							{# <h5 class="{{circuit.title}}"></h5> #}
							<h3 class="card-title text-center" >
							<a href="{{ path('detail', {id:circuit.id}) }} " style="color:green;font-weight:bold;">
								{{circuit.title}}</a>
						</h3>
							<p class="card-text">Article {{circuit.id}}</p>
						 <p class="card-text">{{circuit.minidescri}}</p> 

						<p class="card-text text-center" style="font-size: 3rem;font-weight:bold; ">{{circuit.price}}€</p>
						<a href="{{ path('circuits_add') }}" class="btn btn-success">
					<i class="fa fa-plus-square" aria-hidden="true"></i></a>&nbsp;&nbsp;
						 <a href="{{ path('circuits_edit', {id:circuit.id})}}" class="btn btn-warning">
						<i class="fa fa-pencil" aria-hidden="true"></i></a>&nbsp;&nbsp;
					<a href="{{path('circuits_delete', {id:circuit.id})}}" onclick="return confirm('Etes vous sûr de vouloir supprimer le circuit ? Cette action est irreversible!');" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
							
						</div>
					</div>
				</div>

            {% endfor %}
			</div>
		</section>

	</div>


{% endblock %}
